

.widthBox{
    width: 100%;
    height: auto;
    //aspect-ratio: x / x;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heightBox{
    width: auto;
    height: 100%;
    //aspect-ratio: x / x;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}