


/* 元件最外圍 */
.navbar.navBg-set{ 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;

    /*背景*/
    background:linear-gradient(90deg, #000000, #60003A);
    /*背景*/

    /*邊框設定*/
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg, #ffb3f7 0%, #40003a 30%,#f93b5c 100%) 1;
    /*邊框設定*/
    padding: 8px 0px;

    /*內容本體區塊*/
    .navbar-box{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* 左上角 Logo */
        .navbarLogo-box{
            width: 185px;
            height: auto;
            .navbarLogoImg-set{
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        /* 左上角 Logo */

        /* lg 以上選項區塊 */
        .navbarItem-box{
            justify-content: center;
            align-items: center;
            gap: 24px;
            // link選項
            .navbarItem-set{
                font-size: 16px;
                padding: 12px 8px 9px 8px;
                border-bottom:3px solid transparent;
                color: #ffffff;

                &:hover{
                    border-bottom:3px solid #E22288;
                }

                &.active{
                    border-bottom:3px solid #E22288;
                }
            }
            // link選項
        }
        /* lg 以上選項區塊 */

        /* lg 以上會員頭像 */
        .userImg-box{
            width: 48px;
            height: 48px;
            border: none;
            padding: 0px;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            .userImg-set{
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius:50%;
            }
        }
        /* lg 以上會員頭像 */

        /* lg 以下的右上角：漢堡選單按鈕 */
        .navbarMenuIcon-box{
            display: flex;
            justify-content: center;
            align-items: center;
            .MenuIconBtn-set{
                width: 48px;
                height: 48px;
                border: none;
                background-color: transparent;
                .MenuIconImg-set{
                    max-width: 100%;
                    height: auto;
                    object-fit: cover;
                    color: #ffffff;
                    animation: spin 10s linear infinite;

                    /* 旋轉動畫 */
                    @keyframes spin {
                    to { transform: rotate(360deg); }
                    }
                }
            }
        }
    }
    /*內容本體區塊*/

}
/* 元件最外圍 */

