
// 元件最外圍
.index{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100dvh;
    background-color: rgb(104, 104, 104);
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    //@media screen 代表螢幕裝置 固定寫法
    //(orientation: landscape) 代表裝置是 橫向(寬度 > 高度) 固定寫法
    //(max-width: 900px) 代表最大寬度
    @media screen and (orientation: landscape) and (max-width: 900px) {
        display: none;
    }
    // 混合版內容
    .indexPage{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        /* lg以上背景影片 */
        .bgVideo {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            object-fit: cover; // 跟背景圖 cover 一樣，充滿且裁切
            pointer-events: none; // 避免擋到前景點擊
            z-index: 0;
        }
        /* lg以上背景影片 */
        
        /* lg以下背景圖片 */
        .BgImg{
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            object-fit: cover; // 跟背景圖 cover 一樣，充滿且裁切
            pointer-events: none; // 避免擋到前景點擊
            z-index: 0;
        }
        /* lg以下背景圖片 */

        /* 右下角PS按鈕 */
        .playStationBtnSet{
            position: absolute;
            top:auto;
            bottom: 10%;
            left: auto;
            right: 3%;
            z-index: 2;
            width: 110px;
            height: auto;
            aspect-ratio: 300 / 380;
            border: none;
            background-color: transparent;
            padding: 0px;
            animation: floatY 2.5s ease-in-out infinite;
            @media (max-width: 576px){
                width: 75px;
            }
            /* 動畫設定 */
            /* 上下浮動動畫 */
            @keyframes floatY {
                0%   { transform: translateY(0px); }
                50%  { transform: translateY(-10px); }  /* 上移 */
                100% { transform: translateY(0px); }    /* 回來 */
            }
            /* 上下浮動動畫 */
            /* 動畫設定 */

            // 圖片設定
            .playStationImgSet{
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
            // 圖片設定
        }
        /* 右下角PS按鈕 */

        /* 中央按鈕 */
        .contentBox{
            position: relative;
            z-index: 10;
            margin-top: 15%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 70px;
            @media (max-width: 576px){
                gap: 40px;
            }
            // 中央按鈕01
            .indexBtn01{
                width: 75px;
                aspect-ratio: 1 / 1;
                background-color: transparent;
                background-image: url('/images/index/indexVideoBtn.png');
                background-position: center 0;      /* 左上角 */
                background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                background-repeat: no-repeat;
                border: none;
                padding: 0px;
                transition: transform 0.2s ease;
                &:hover {
                    background-position-y: 100%;
                }
                @media (max-width: 576px){
                    width: 56.5px;
                }
            }
            // 中央按鈕01

            // 中央按鈕02
            .indexBtn02{
                width: 300px;
                aspect-ratio: 300 / 115;
                background-color: transparent;
                background-image: url('/images/index/indexYYBtn.png');
                background-position: center 0;      /* 左上角 */
                background-size: 100% 300%;    /* 寬度填滿，高度等比 */
                background-repeat: no-repeat;
                border: none;
                padding: 0px;
                transition: transform 0.2s ease;
                &:hover {
                    background-position-y: 50%;
                    transform: translateY(5%); 
                }
                @media (max-width: 576px){
                    width: 170px;
                    background-image: url('/images/index/手機板/indexYYBtn.png');
                    background-size: 100% 200%;
                    &:hover {
                        background-position-y: 100%;
                    }
                }
            }
            // 中央按鈕02
        }
        /* 中央按鈕 */

        // 底部按鈕區塊
        .bottomBtnBox{
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10%;
            //background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            // 底部按鈕設定
            .bottomBtn{
                border: none;
                padding: 0px;
                background-color: transparent;
                opacity: 0.5;
                width: 15%;
                height: auto;
                aspect-ratio: 50 / 28;
                background-color: transparent;
                background-image: url('/images/index/手機板/pageArrow02.png');
                background-position: center 0;      /* 左上角 */
                background-size: 100% 100%;    /* 寬度填滿，高度等比 */
                background-repeat: no-repeat;
                animation: floatY 2.5s ease-in-out infinite;
                /* 動畫設定 */
                /* 上下浮動動畫 */
                @keyframes floatY {
                    0%   { transform: translateY(0px); }
                    50%  { transform: translateY(-10px); }  /* 上移 */
                    100% { transform: translateY(0px); }    /* 回來 */
                }
                /* 上下浮動動畫 */
                /* 動畫設定 */
            }
            // 底部按鈕設定
        }
        // 底部按鈕區塊
    }
    // 混合版內容
}
// 元件最外圍

// 提示畫面
.landscapeBlocker {
    display: none;
    width: 100%;
    height: 100vh;
    background: #202020;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    @media screen and (orientation: landscape) and (max-width: 900px) {
        display: flex;
    }
}
// 提示畫面
