


//元件最外圍
.newsPage{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100dvh;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    @media screen and (orientation: landscape) and (max-width: 900px) {
        display: none;
    }

    //混合版內容
    .newsShowPage{
        position: relative;
        width: 100%;
        height: calc(100% - 9%);
        background-color: #202020;
        display: flex;
        justify-content: end;
        align-items: center;
        // 背景
        .newsPageBg{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
        }
        // 背景

        //主內容區塊
        .mainBox{
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            //overflow: hidden;
            overflow-y: auto;   // ← 讓右側捲軸出現
            overflow-x: hidden; // ← 水平不要捲軸
            flex-shrink: 0; //不允許這個元素被壓縮
            scroll-behavior: smooth;//讓 smooth 生效
            // 捲軸的寬度
            &::-webkit-scrollbar {
                width: 8px;
            }

            // 捲軸的軌道（背景）
            &::-webkit-scrollbar-track {
                background: transparent;
                border-radius: 4px;
            }

            // 捲軸本體（可以拉動的部分）
            &::-webkit-scrollbar-thumb {
                background: #999;
                border-radius: 4px;
            }

            // 滑鼠 hover 在捲軸上
            &::-webkit-scrollbar-thumb:hover {
                background: #999;
            }

            // 中央區塊
            .contentBox{
                
                position: relative;
                width: auto;
                height: auto;
                margin: 0px 20%;
                //border: 1px solid red;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                gap: 24px;
                @media (max-width: 576px) {
                    margin: 0px;
                    padding: 0px 12px;
                }
                // 標題區塊
                .titleBox{
                    position: relative;
                    margin-top: 10%;
                    width: 105%;
                    height: auto;
                    aspect-ratio: 1281 / 228;
                    @media (max-width: 768px) { 
                        width: 100%;
                        aspect-ratio: 596 / 158;
                    }
                    // 標題背景圖
                    .titleImgSet{
                        position: absolute;
                        z-index: 0;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    // 標題背景圖

                    //主要標題
                    .titleSet{
                        position: absolute;
                        z-index: 1;
                        top: 40%;
                        left: 15%;
                        width: auto;
                        height: auto;
                        transform: translateY(-50%);
                        font-size: clamp(20px, 2.9vw, 40px);
                        @media (max-width: 768px) { 
                            top: 50%;
                            left: 23%;
                            font-size: clamp(15px, 2.6vw, 20px);
                        }
                        @media (max-width: 576px) { 
                            font-size: clamp(15px, 3.5vw, 22px);
                        }
                    }
                    //主要標題

                    //來源連結
                    .Breadcrumb{
                        position: absolute;
                        z-index: 1;
                        top: 85%;
                        left: 3%;
                        transform: translateY(-50%);
                        width: auto;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @media (max-width: 768px) { 
                            //display: none;
                        }
                        .linkBtnSet{
                            border: none;
                            padding: 0px;
                            background-color: transparent;
                            .textSet{
                                font-size: clamp(16px, 1.5vw, 20px);
                                color: #ffffff;
                                @media (max-width: 1200px) { 
                                    //font-size: 18px;
                                }
                            }
                        }
                        .textSet{
                            font-size: clamp(16px, 1.5vw, 20px);
                            color: #ffffff;
                        }
                        
                    }
                    //來源連結

                    //顯示時間
                    .timeSet{
                        position: absolute;
                        z-index: 1;
                        top: 85%;
                        left: 90%;
                        transform: translate(-50%,-50%);
                        width: auto;
                        height: auto;
                        white-space: nowrap;//取消文字自動換行
                        @media (max-width: 768px) {
                            left: 85%; 
                        }
                        .textSet{
                            color: #ffffff;
                            font-size: clamp(16px, 1.5vw, 20px);
                        }
                    }
                    //顯示時間
                }
                // 標題區塊
                
                //圖片區塊
                .imgBox{
                    position: relative;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 865 / 487;
                    margin: 0px auto;

                    //圖片本體
                    .imgSet{
                        width: 100%;
                        height: auto;
                        aspect-ratio: 865 / 487;
                        border-radius: 8px;
                    }
                    //圖片本體

                    //左側圖片區塊
                    .leftImgBox{
                        position: absolute;
                        top: 0;
                        left: -12%;
                        transform: translateX(-50%);
                        width: 17%;
                        height: auto;
                        aspect-ratio: 211 / 634;
                        //左側圖片
                        .imgSet{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        //左側圖片
                    }
                    //左側圖片區塊
                }
                //圖片區塊

                //文字區塊
                .textBox{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    gap: 24px;
                    // 文字群組
                    .textGroup{
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: start;
                        gap: 12px;
                        .title{
                            font-size: 18px;
                            &.gamenews{
                                font-size: 28px;
                                font-weight: 700;
                            }
                        }
                        .content{
                            font-size: 16px;

                            &.gamenews{
                                font-size: 14px;
                            }
                        }
                        .qaGroup{
                            display: flex;
                            flex-direction: column;
                            justify-content: start;
                            align-items: start;
                            gap: 12px;
                            .content{
                                font-size: 16px;
                            }
                        }
                    }
                    // 文字群組

                    // 圖片群組
                    .imgGroup{
                        width: 100%;
                        height: auto;
                        aspect-ratio: 1024 / 576;
                        max-width: 100%;
                        max-height: 100%;
                        .imgSet{
                            width: 100%;
                            height: 100%;
                            max-width: 100%;
                            max-height: 100%;
                            object-fit: cover;
                            border-radius: 8px;
                        }
                    }
                    // 圖片群組
                }
                //文字區塊
                
                //結尾區塊
                .footerBox{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    gap: 12px;
                    // 文字條列
                    .itemSet{
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: start;
                        align-items: start;
                        .textSet{
                            font-size: 18px;
                            &.end{
                                width: 100%;
                                text-align: end;
                            }
                        }
                        .linkSet{
                            font-size: 18px;
                        }
                    }
                    // 文字條列

                    //圖片區塊
                    .footerImgBox{
                        position: relative;
                        width: 100%;
                        height: auto;
                        aspect-ratio: 1237 / 312;
                        @media (max-width: 768px) { 
                            aspect-ratio: 687 / 346;
                        }

                        .footerImgSet{
                            position: absolute;
                            z-index: 0;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }

                        .textBox{
                            //border: 1px solid red;
                            position: absolute;
                            z-index: 1;
                            top: 30%;
                            left: 3%;
                            width: 95%;
                            height: auto;
                            @media (max-width: 768px) {
                                width: 93%; 
                                top: 25%;
                            }
                            .textSet{
                                font-size: clamp(8px, 1.5vw, 13px);
                                color: #ababab;
                            }
                        }

                        .iconBox{
                            position: absolute;
                            top: 80%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            width: 100%;
                            height: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            .iconSet{
                                width: 4%;
                                height: auto;
                                aspect-ratio: 1 / 1;
                                background-color: transparent;
                                background-image: url('/images/footer/otherPlatform.png');
                                background-position-y: 0%;
                                background-position-x: 0%;      /* 左上角 */
                                background-size: 1200% 200%;    /* 寬度填滿，高度等比 */
                                background-repeat: no-repeat;
                                border: none;
                                padding: 0px;
                                transition: transform 0.2s ease;
                                &:hover {
                                    background-position-y: 100%;
                                }
                                @media (max-width: 768px) {
                                    width: 9%;
                                }
                                @media (max-width: 576px){
                                    width: 33px;
                                    background-image: url('/images/footer/Mobile/otherPlatform2.png');
                                }

                                &.active {
                                    background-position-y: 100%;
                                }
                                &.X{
                                    background-position-x: 0%;
                                }
                                &.faceBook{
                                    background-position-x: 11%;
                                }
                                &.youtube{
                                    background-position-x: 22%;
                                }
                                &.discord{
                                    background-position-x: 33%;
                                }
                                &.reddit{
                                    background-position-x: 44.5%;
                                }
                                &.instagram{
                                    background-position-x: 55.5%;
                                }
                                &.playStation{
                                    background-position-x: 66.5%;
                                }
                                &.line{
                                    background-position-x: 78%;
                                }
                                &.netFlix{
                                    background-position-x: 89%;
                                }
                                &.kakaoTalk{
                                    background-position-x: 100%;
                                }
                            }
                        }
                    }
                    //圖片區塊
                }
                //結尾區塊 

                //版權按鈕
                .copyrightBtnSet{
                    position: absolute;
                    z-index: 2;
                    transform: translate(-50%,-50%);
                    top: 99%;
                    left: -15%;
                    width: 15%;
                    min-width: 85px;
                    height: auto;
                    aspect-ratio: 100 / 20;
                    border: 1px solid #000000;
                    padding: 0px 1%;
                    background-color: transparent;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    transition: transform 0.5s ease;
                    @media (max-width: 768px) {
                        display: none;
                    }

                    &.active{

                        .btnIconSet{
                            transform: rotate(180deg);
                        }
                    }

                    .textSet{
                        font-size: 13px;
                        color: #000000;
                    }
                    .btnIconSet{
                        transform: rotate(0deg);
                    }
                }
                //版權按鈕

                //回最上按鈕
                .topBtnbox{
                    border: none;
                    padding: 0px;
                    background-color: transparent;
                    position: absolute;
                    z-index: 2;
                    transform: translateX(-50%);
                    top:auto;
                    bottom: calc(0% - 1px);
                    left: 110%;
                    width: 10%;
                    height: auto;
                    aspect-ratio: 92 / 188;
                    .topBtnSet{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                //回最上按鈕
            }
            // 中央區塊

            //版權區塊
            .copyright{
                width: 100%;
                height: auto;
            }
            //版權區塊

            //上一頁按鈕
            .backBtnSet{
                border: none;
                padding: 0px;
                position: absolute;
                z-index: 2;
                top: 5%;
                left: 90%;
                transform: translate(-50%,-50%);
                width: 10%;
                height: auto;
                aspect-ratio: 214 / 41;
                background-color: transparent;
                background-image: url('/images/news/backNewsList.png');
                background-position: center 0;      /* 左上角 */
                background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                background-repeat: no-repeat;
                &:hover {
                    background-position-y: 100%;
                }
                @media (max-width: 1200px) {
                    width: 15%; 
                }
                @media (max-width: 992px) {
                    left: 85%;
                    width: 20%; 
                }
                @media (max-width: 576px) {
                    left: 80%;
                    width: 30%; 
                }
            }
            //上一頁按鈕

            

            
        }
        //主內容區塊
    }
    //混合版內容
}
//元件最外圍

// 提示畫面
.landscapeBlocker {
    display: none;
    width: 100%;
    height: 100vh;
    background: #202020;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    @media screen and (orientation: landscape) and (max-width: 900px) {
        display: flex;
    }
}
// 提示畫面