

/* 元件最外圍 */
.characterPage{
    width: 100%;
    height: 100vh;
    background-color: rgb(56, 56, 56);
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;

    @media screen and (orientation: landscape) and (max-width: 900px) {
        display: none;
    }
    
    // 桌面板
    .characterPagePC{
        width: 100%;
        height: 100%;
        // 桌面板背景
        .characterPageBg{
            position: absolute;
            top: 0%;
            left: 0%;
            z-index: 0;
            width: 100%;
            height: 100%;
        }
        // 桌面板背景

        // 側邊tab選項區塊 
        .tabCircleImgShowBox{
            position: absolute;
            z-index: 1;
            top: 0%;
            left: 0%;
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            .widthBox{
                width: 100%;
                height: auto;
                aspect-ratio: 344 / 912;
                max-width: 100%;
                max-height: 100%;
                display: flex;
                justify-content: start;
                align-items: center;
                .heightBox{
                    width: auto;
                    height: 100%;
                    aspect-ratio: 344 / 912;
                    max-width: 100%;
                    max-height: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    // tab選項區塊背景
                    .tabCircleImg{
                        position: relative;
                        width: 60%;
                        height: 60%;
                        background-color: transparent;
                        background-position: center 0;      /* 左上角 */
                        background-size: 100% 100%;    /* 寬度填滿，高度等比 */
                        background-repeat: no-repeat;
                        background-image: url('/images/character/factions.png');
                        pointer-events: none;

                        // tab選項按鈕本體
                        .tabBtn01{
                            position: absolute;
                            top: 40%;
                            left: 96%;
                            width: 70%;
                            height: auto;
                            border: none;
                            padding: 0px;
                            aspect-ratio: 193 / 154;
                            transform: translate(-50%,-50%);
                            background-color: transparent;
                            background-position: center 0;      /* 左上角 */
                            background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                            background-repeat: no-repeat;
                            background-image: url('/images/character/factionsBtn1.png');
                            pointer-events: auto;
                            &:hover {
                                background-position-y: 100%;
                            }
                            &.active {
                                background-position-y: 100%;
                            }
                        }

                        .tabBtn02{
                            position: absolute;
                            top: 65%;
                            left: 96%;
                            width: 70%;
                            height: auto;
                            border: none;
                            padding: 0px;
                            aspect-ratio: 193 / 154;
                            transform: translate(-50%,-50%);
                            background-color: transparent;
                            background-position: center 0;      /* 左上角 */
                            background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                            background-repeat: no-repeat;
                            background-image: url('/images/character/factionsBtn1.png');
                            pointer-events: auto;
                            &:hover {
                                background-position-y: 100%;
                            }
                            &.active {
                                background-position-y: 100%;
                            }
                        }
                        // tab選項按鈕本體
                    }
                    // tab選項區塊背景
                }
            } 
        }
        // 側邊tab選項區塊 

        
        //角色顯示區塊最外圍
        .characterContentBox{
            position: absolute;
            top: 9%;
            left: 10%;
            z-index: 0;
            width: calc(100% - 10%);
            height: calc(100vh - 9%);

            //大輪播圖外圍
            .characterSwiperBox{
                position: absolute;
                top:0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                /* 大圖輪播 */
                .bgSwiper{
                    position: absolute;
                    top:0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    //輪播本體
                    .swiperSlide{
                        width: 100%;
                        height: 100%;
                        position: relative;

                        /* 輪播片內容 */
                        .videoSet{
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;
                            width: 100%;
                            height: 100%;
                            .bgVideo {
                                width: 100%;
                                height: 100%;
                                object-fit: cover; // 跟背景圖 cover 一樣，充滿且裁切
                                object-position: center 20%;
                            }
                        }
                        /* 輪播片內容 */

                        //角色說明最外圍
                        /* 背景 */
                        .profileBox{
                            position: absolute;
                            top:0;
                            left: 0;
                            z-index: 2;
                            width: 100%;
                            height: 100%;
                            .profileContentShowBox{
                                position: absolute;
                                top: 45%;
                                left: 35%;
                                transform: translate(-50%,-50%);
                                width: 50%;
                                height: 50%;
                                
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                //background-color: rgba(255, 102, 0, 0.5);
                                .widthBox{
                                    width: 100%;
                                    height: auto;
                                    aspect-ratio: 461 / 330;
                                    max-width: 100%;
                                    max-height: 100%;
                                    display: flex;
                                    justify-content: start;
                                    align-items: center;
                                    .heightBox{
                                        width: auto;
                                        height: 100%;
                                        aspect-ratio: 461 / 330;
                                        max-width: 100%;
                                        max-height: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        .profileContentBox{
                                            //background-color: rgb(0, 255, 255,0.5);
                                            width: 100%;
                                            height: 100%;
                                            max-width: 100%;
                                            max-height: 100%;
                                            .profileImgBox{
                                                width: 100%;
                                                height: auto;
                                                aspect-ratio: 936 / 459;
                                                .imgSet{
                                                    max-width: 100%;
                                                    height: auto;
                                                    object-fit: cover;
                                                }
                                            }

                                            .textBox{
                                                width: 65%;
                                                height: 30.3%;
                                                overflow: hidden;
                                                overflow-y: auto;   // ← 讓右側捲軸出現
                                                overflow-x: hidden; // ← 水平不要捲軸
                                                flex-shrink: 0; //不允許這個元素被壓縮

                                                // 捲軸的寬度
                                                &::-webkit-scrollbar {
                                                    width: 8px;
                                                }

                                                // 捲軸的軌道（背景）
                                                &::-webkit-scrollbar-track {
                                                    background: transparent;
                                                    border-radius: 4px;
                                                }

                                                // 捲軸本體（可以拉動的部分）
                                                &::-webkit-scrollbar-thumb {
                                                    background: #999;
                                                    border-radius: 4px;
                                                }

                                                // 滑鼠 hover 在捲軸上
                                                &::-webkit-scrollbar-thumb:hover {
                                                    background: #999;
                                                }
                                                .textSet{
                                                    font-size: 10px;
                                                    color:rgb(175, 175, 175);
                                                }
                                            }
                                        }
                                    }
                                }
                                
                                
                            }
                        }
                        /* 背景 */
                        //角色說明最外圍
                    }
                    //輪播本體
                }
                /* 大圖輪播 */

                // 控制欄位
                .characterBox{
                    position: absolute;
                    top:0;
                    left: 0;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    .maskBox{
                        position: absolute;
                        top: 45%;
                        left: 35%;
                        transform: translate(-50%,-50%);
                        width: 50%;
                        height: 50%;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        //background-color: rgba(111, 0, 255, 0.5);
                        .characterThumbSwiper{
                            position: absolute;
                            top: 105%;
                            left: 0;
                            width: 65%;
                            height: auto;
                            aspect-ratio: 573 / 86;
                            //background-color: rgb(104, 129, 129);
                            .ThumbPrevBtn{
                                position: absolute;
                                z-index: 2;
                                top: 50%;
                                left: calc(0% - 24px);
                                border: none;
                                padding: 0px;
                                width: 8.6%;
                                max-width: 35px;
                                height: auto;
                                aspect-ratio: 54 / 52;
                                transform: translate(-50%,-50%);
                                background-color: transparent;
                                background-position: center 0;      /* 左上角 */
                                background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                                background-repeat: no-repeat;
                                background-image: url('/images/character/factionsPrev.png');
                                pointer-events: auto;
                                &:hover {
                                    background-position-y: 100%;
                                }
                                &:disabled {
                                    background-position-y: 0%;
                                    opacity: 0.5;
                                }
                            }

                            /* 縮圖輪播 */
                            .thumbsSwiper{
                                width: 100%;
                                height: 100%;
                                pointer-events: auto;
                                //輪播本體
                                .swiper-slide.swiperSlide{
                                    width: 100%;
                                    height: 100%;
                                    /* 輪播片內容 */
                                    .imgBox{
                                        width: 100%; // 根據圖片大小調整
                                        height: auto;
                                        object-fit: cover;
                                        aspect-ratio: 191 / 86;
                                        background-color: transparent;
                                        background-position: center 0;      /* 左上角 */
                                        background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                                        background-repeat: no-repeat;
                                        border: 2px solid #949494;
                                        padding: 0px;
                                        transition: transform 0.2s ease;
                                        
                                        &:hover {
                                            background-position-y: 100%;
                                        }
                                    }
                                    /* 輪播片內容 */

                                    &.swiper-slide-active{
                                        /* 輪播片內容 */
                                        
                                        .imgBox{
                                            width: 100%; // 根據圖片大小調整
                                            // max-width: 191px;
                                            aspect-ratio: 191 / 86;
                                            background-color: transparent;
                                            background-position: center 0;      /* 左上角 */
                                            background-position-y: 100%;
                                            background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                                            background-repeat: no-repeat;
                                            padding: 0px;
                                            transition: transform 0.2s ease;
                                            border: 2px solid #ffffff;
                                        }
                                        /* 輪播片內容 */

                                    }
                                }
                                //輪播本體
                            }
                            /* 縮圖輪播 */

                            .ThumbNextBtn{
                                position: absolute;
                                z-index: 2;
                                top: 50%;
                                left: calc(100% + 24px);
                                border: none;
                                padding: 0px;
                                width: 8.6%;
                                max-width: 35px;
                                height: auto;
                                aspect-ratio: 54 / 52;
                                transform: translate(-50%,-50%);
                                background-color: transparent;
                                background-position: center 0;      /* 左上角 */
                                background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                                background-repeat: no-repeat;
                                background-image: url('/images/character/factionsNext.png');
                                pointer-events: auto;
                                &:hover {
                                    background-position-y: 100%;
                                }
                                &:disabled {
                                    background-position-y: 0%;
                                    opacity: 0.5;
                                }
                            }
                        }
                        
                    }
                }
                // 控制欄位
            }
            //大輪播圖外圍

            
            
        }
        //角色顯示區塊最外圍
    }
    // 桌面板
    
    // 手機板
    .characterPageMB{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        //手機板背景
        .characterPageMbBg{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        //手機板背景

        .characterMbBox{
            position: relative;
            z-index: 1;
            width: 100%;
            height: auto;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            .characterViewBox{
                position: relative;
                width: 80%;
                height: 100%;
                background-color: transparent;
                .tabContent{
                    
                    // 左右按鈕設定
                    .ThumbMbPrevBtn,.ThumbMbNextBtn{
                        display: none;
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        border: none;
                        padding: 0px;
                        width: 8.6%;
                        max-width: 35px;
                        height: auto;
                        aspect-ratio: 54 / 52;
                        transform: translate(-50%,-50%);
                        background-color: transparent;
                        background-position: center 0;      /* 左上角 */
                        background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                        background-repeat: no-repeat;
                        &:hover {
                            background-position-y: 100%;
                        }
                        &.active{
                            display: block;
                        }
                        &:disabled {
                            background-position-y: 0%;
                            opacity: 0.5;
                        }
                    }
                    .ThumbMbPrevBtn{
                        left: calc(0% - 24px);
                        background-image: url('/images/character/factionsPrev.png');
                    }
                    .ThumbMbNextBtn{
                        left: calc(100% + 24px);
                        background-image: url('/images/character/factionsNext.png');
                    }
                    // 左右按鈕設定

                    // 縮圖輪播片
                    .thumbsMbSwiper{
                        width: 100%;
                        height: 100%;
                        //輪播本體
                        .swiper-slide.swiperSlide{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            /* 輪播片內容 */
                            .imgBox{
                                max-width: 100%;
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                                aspect-ratio: 191 / 86;
                                background-color: transparent;
                                background-position: center 0;      /* 左上角 */
                                background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                                background-repeat: no-repeat;
                                border: 2px solid #949494;
                                padding: 0px;
                                transition: transform 0.2s ease;
                                
                                &:hover {
                                    background-position-y: 100%;
                                }
                            }
                            /* 輪播片內容 */

                            &.swiper-slide-active{
                                /* 輪播片內容 */
                                
                                .imgBox{
                                    width: 100%; // 根據圖片大小調整
                                    // max-width: 191px;
                                    aspect-ratio: 191 / 86;
                                    background-color: transparent;
                                    background-position: center 0;      /* 左上角 */
                                    background-position-y: 100%;
                                    background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                                    background-repeat: no-repeat;
                                    padding: 0px;
                                    transition: transform 0.2s ease;
                                    border: 2px solid #ffffff;
                                }
                                /* 輪播片內容 */

                            }
                        }
                        //輪播本體
                    }
                    // 縮圖輪播片
                }
            }
        }

        // 底部tab選項
        .bottomBox{
            position: relative;
            width: 100%;
            height: 17%;
            // 底部背景
            .bottomBoxBg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
            // 底部背景

            .tab-box{
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
                display: flex;
                flex-direction: column;
                .tab-item{
                    flex: 0 0 auto; 
                    width: 100%;
                    height: auto;
                    &.btnBox{
                        display: flex;
                        justify-content: center;
                        align-items: start;
                        .tabBtn01,.tabBtn02{
                            width: 50%;
                            height: auto;
                            aspect-ratio: 375 / 125;
                            background-color: transparent;
                            background-position: center 0;      /* 左上角 */
                            background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                            background-repeat: no-repeat;
                            border: none;
                            padding: 0px;
                            &:hover {
                                background-position-y: 100%;
                            }
                            &.active {
                                background-position-y: 100%;
                            }
                        }
                        .tabBtn01{
                            background-image: url('/images/character/手機板/factionsBtn1.png');
                        }
                        .tabBtn02{
                            background-image: url('/images/character/手機板/factionsBtn2.png');
                        }
                    }
                } 

                .iconBox{
                    flex: 1 1 0; 
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    padding: 0px;
                    background-color: transparent;
                    .characterPageIconSet{
                        width: 6.5%;
                        max-width: 30px;
                        height: auto;
                        aspect-ratio: 50 / 28;
                        object-fit: cover;
                        animation: floatUpDown 2s ease-in-out infinite;

                        /* 上下浮動動畫 */
                        @keyframes floatUpDown {
                            0% {
                                transform: translateY(0);
                            }
                            50% {
                                transform: translateY(-6px); /* 向上移動 6px，可調整 */
                            }
                            100% {
                                transform: translateY(0);
                            }
                        }
                    }

                }   
            }
        }
        // 底部tab選項

        // 顯示區塊
        .characterPageMbViewBox{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            top: 0;
            left: 0;
            .tabContent{

                //大輪播圖外圍
                .characterSwiperMbBox{
                    position: absolute;
                    top:0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    /* 大圖輪播 */
                    .bgSwiper{
                        position: absolute;
                        top:0;
                        left: 0;
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        //輪播本體
                        .swiperSlide{
                            width: 100%;
                            height: 100%;
                            position: relative;

                            /* 輪播片內容 */
                            .imgBox{
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 1;
                                width: 100%;
                                height: 100%;
                                .imgSet {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover; // 跟背景圖 cover 一樣，充滿且裁切
                                    object-position: center 30%;
                                }
                            }
                            /* 輪播片內容 */

                            //角色說明
                            .profileMbBox{
                                position: absolute;
                                top: auto;
                                bottom: 30%;
                                left: 0;
                                z-index: 2;
                                width: 100%;
                                height: auto;
                                aspect-ratio: 750 / 206;
                                .profileMbImgSet{
                                    max-width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                                
                            }
                            //角色說明
                        }
                        //輪播本體
                    }
                    /* 大圖輪播 */

                    // 控制欄位
                    .characterBox{
                        position: absolute;
                        top:0;
                        left: 0;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        pointer-events: none;
                        display: flex;
                        justify-content: start;
                        align-items: start;
                        //background-color: rgba(157, 255, 0, 0.5);
                        .maskBox{
                            position: absolute;
                            top: 45%;
                            left: 32%;
                            width: 50%;
                            height: auto;
                            transform: translate(-50%,-50%);
                            //background-color: rgba(111, 0, 255, 0.5);
                            @media (max-width: 1400px) {
                                top: 50%;
                                left: 35%;
                                width: 50%;
                            }
                            .mask01Box{
                                width: 100%;
                                height: auto;
                                aspect-ratio: 936 / 459;
                            }
                            .mask02Box{
                                width: 100%;
                                height: 100px;
                            }
                            .characterThumbSwiper{
                                position: absolute;
                                top: 105%;
                                left: 0;
                                width: 65%;
                                height: auto;
                                aspect-ratio: 573 / 86;
                                //background-color: rgb(104, 129, 129);
                                .ThumbPrevBtn{
                                    position: absolute;
                                    z-index: 2;
                                    top: 50%;
                                    left: calc(0% - 24px);
                                    border: none;
                                    padding: 0px;
                                    width: 8.6%;
                                    max-width: 35px;
                                    height: auto;
                                    aspect-ratio: 54 / 52;
                                    transform: translate(-50%,-50%);
                                    background-color: transparent;
                                    background-position: center 0;      /* 左上角 */
                                    background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                                    background-repeat: no-repeat;
                                    background-image: url('/images/character/factionsPrev.png');
                                    pointer-events: auto;
                                    &:hover {
                                        background-position-y: 100%;
                                    }
                                    &:disabled {
                                        background-position-y: 0%;
                                        opacity: 0.5;
                                    }
                                }

                                /* 縮圖輪播 */
                                .thumbsSwiper{
                                    width: 100%;
                                    height: 100%;
                                    pointer-events: auto;
                                    //輪播本體
                                    .swiper-slide.swiperSlide{
                                        width: 100%;
                                        height: 100%;
                                        /* 輪播片內容 */
                                        .imgBox{
                                            width: 100%; // 根據圖片大小調整
                                            height: auto;
                                            object-fit: cover;
                                            aspect-ratio: 191 / 86;
                                            background-color: transparent;
                                            background-position: center 0;      /* 左上角 */
                                            background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                                            background-repeat: no-repeat;
                                            border: 2px solid #949494;
                                            padding: 0px;
                                            transition: transform 0.2s ease;
                                            
                                            &:hover {
                                                background-position-y: 100%;
                                            }
                                        }
                                        /* 輪播片內容 */

                                        &.swiper-slide-active{
                                            /* 輪播片內容 */
                                            
                                            .imgBox{
                                                width: 100%; // 根據圖片大小調整
                                                // max-width: 191px;
                                                aspect-ratio: 191 / 86;
                                                background-color: transparent;
                                                background-position: center 0;      /* 左上角 */
                                                background-position-y: 100%;
                                                background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                                                background-repeat: no-repeat;
                                                padding: 0px;
                                                transition: transform 0.2s ease;
                                                border: 2px solid #ffffff;
                                            }
                                            /* 輪播片內容 */

                                        }
                                    }
                                    //輪播本體
                                }
                                /* 縮圖輪播 */

                                .ThumbNextBtn{
                                    position: absolute;
                                    z-index: 2;
                                    top: 50%;
                                    left: calc(100% + 24px);
                                    border: none;
                                    padding: 0px;
                                    width: 8.6%;
                                    max-width: 35px;
                                    height: auto;
                                    aspect-ratio: 54 / 52;
                                    transform: translate(-50%,-50%);
                                    background-color: transparent;
                                    background-position: center 0;      /* 左上角 */
                                    background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                                    background-repeat: no-repeat;
                                    background-image: url('/images/character/factionsNext.png');
                                    pointer-events: auto;
                                    &:hover {
                                        background-position-y: 100%;
                                    }
                                    &:disabled {
                                        background-position-y: 0%;
                                        opacity: 0.5;
                                    }
                                }
                            }
                            
                        }
                    }
                    // 控制欄位
                }
                //大輪播圖外圍
            }
        }
        // 顯示區塊
    }
    // 手機板
}
/* 元件最外圍 */

// 提示畫面
.landscapeBlocker {
    display: none;
    width: 100%;
    height: 100vh;
    background: #202020;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    @media screen and (orientation: landscape) and (max-width: 900px) {
        display: flex;
    }
}
// 提示畫面