
// 整體layout
    //桌面板
    //桌面板

    //手機板
    .MbSwiperLayout{
        width: 100%;
        height: 100vh;
        //輪播本體
        .MbSwiperSlide{

        }
        //輪播本體
    }
    //手機板

// 整體layout


    
   
