



// 元件最外圍
.newsListPage{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100dvh;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: end;
    @media screen and (orientation: landscape) and (max-width: 900px) {
        display: none;
    }
    // 混合板
    .newsListShowPage{
        position: relative;
        width: 100%;
        height: calc(100% - 9%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #202020;
        // 背景
        .newListPageBg{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
        }
        // 背景

        // 主內容區塊
        .mainBox{
            flex: 1 1 0;
            position: relative;
            z-index: 1;
            width: 80%;
            height: 100%;
            padding: 3% 0;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            @media (max-width: 992px) { 
                width: 100%;
                padding: 3% 12px;
            }

            //標題外圍
            .titleImgBox{
                width: 100%;
                height: auto;
                //border: 1px solid red;
                display: flex;
                justify-content: start;
                align-items: center;
                @media (max-width: 992px) { 
                    justify-content: space-between;
                }
                //標題
                .titleImgSet{
                    width: 100%;
                    height: auto;
                    aspect-ratio: 607 / 76;
                    object-fit: cover;
                    max-width: 100%;
                    max-height: 100%;
                    @media (max-width: 992px) { 
                        aspect-ratio: 303 / 38;
                    }
                }
                //標題

                //手機版上一頁按鈕外圍
                .backMbBtnBox{
                    width: 30%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .widthBox{
                        width: 100%;
                        height: auto;
                        aspect-ratio: 214 / 41;
                        max-width: 100%;
                        max-height: 100%;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        .heightBox{
                            width: auto;
                            height: 100%;
                            aspect-ratio: 214 / 41;
                            max-width: 100%;
                            max-height: 100%;
                            display: flex;
                            justify-content: end;
                            align-items: center;
                            //手機版上一頁按鈕
                            .backBtnSet{
                                border: none;
                                padding: 0px;
                                width: 100%;
                                height: 100%;
                                // aspect-ratio: 214 / 41;
                                max-width: 100%;
                                max-height: 100%;
                                background-color: transparent;
                                background-image: url('/images/newsList/backIndex.png');
                                background-position: center 0;      /* 左上角 */
                                background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                                background-repeat: no-repeat;
                                &:hover {
                                    background-position-y: 100%;
                                }
                            }
                            //手機版上一頁按鈕
                        }
                    }

                    
                    
                }
                //手機版上一頁按鈕外圍
            }
            //標題外圍

            // 項目選項外圍
            .titleItemShowBox{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                //border: 1px solid red;

                //項目選項
                .titleItemBox{
                    width: 60%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media (max-width: 992px) { 
                        width: 100%;
                    }
                    //項目設定
                    .titleItemSet{
                        border: none;
                        padding: 0px;
                        width: 100%;
                        height: auto;
                        aspect-ratio: 214 / 56;
                        background-color: transparent;
                        background-position: center 0;      /* 左上角 */
                        background-size: 100% 100%;    /* 寬度填滿，高度等比 */
                        background-repeat: no-repeat;
                        display: flex;
                        justify-content: center;
                        align-items: start;
                        &:hover,&.active {
                            background-image: url('/images/newsList/listHeadNav.png');
                            .textSet{
                                color: #000000;
                            }
                        }
                        .textSet{
                            width: 100%;
                            height: 70%;
                            color: #ffffff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    //項目設定
                }
                //項目選項

                //上一頁按鈕外圍
                .backBtnBox{
                    width: 40%;
                    height: 100%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    //上一頁按鈕
                    .backBtnSet{
                        border: none;
                        padding: 0px;
                        width: 30%;
                        height: auto;
                        aspect-ratio: 214 / 41;
                        background-color: transparent;
                        background-image: url('/images/newsList/backIndex.png');
                        background-position: center 0;      /* 左上角 */
                        background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                        background-repeat: no-repeat;
                        &:hover {
                            background-position-y: 100%;
                        }
                    }
                    //上一頁按鈕
                }
                //上一頁按鈕外圍
                
            }
            // 項目選項外圍

            //新聞項目列表外圍
            .newsListBox{
                width: 100%;
                height: 60%;
                //border:  1px solid red;
                overflow: hidden;
                overflow-y: auto;   // ← 讓右側捲軸出現
                overflow-x: hidden; // ← 水平不要捲軸
                flex-shrink: 0; //不允許這個元素被壓縮

                // 捲軸的寬度
                &::-webkit-scrollbar {
                    width: 8px;
                }

                // 捲軸的軌道（背景）
                &::-webkit-scrollbar-track {
                    background: transparent;
                    border-radius: 4px;
                }

                // 捲軸本體（可以拉動的部分）
                &::-webkit-scrollbar-thumb {
                    background: #999;
                    border-radius: 4px;
                }

                // 滑鼠 hover 在捲軸上
                &::-webkit-scrollbar-thumb:hover {
                    background: #999;
                }
                //新聞消息項目設定
                .newsItemSet{
                    border: none;
                    padding: 0px;
                    width: 100%;
                    height: auto;
                    background-color: transparent;
                    background-position: center 0;      /* 左上角 */
                    background-size: 100% 100%;    /* 寬度填滿，高度等比 */
                    background-repeat: no-repeat;
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    &:hover {
                        background-image: url('/images/newsList/listItem.png');

                        .contentBox{
                            
                            .topBox{
                                
                                .title{
                                    color: #000000;
                                }
                                .time{
                                    color: #000000;
                                }
                            }
                            .bottomBox{
                                
                                .profile{
                                    color: #000000;
                                    
                                }
                                .class{
                                    
                                    &.system{
                                        color: rgb(124, 236, 252);
                                        background-color: #313131;
                    
                                    }
                                }
                            }
                        }
                    }
                    //內容設定
                    .contentBox{
                        width: 98%;
                        height: 100%;
                        padding: 1% 0;
                        border-bottom: 2px solid #313131;
                        //border: 1px solid blue;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 6px;
                        //上半部區塊
                        .topBox{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .title{
                                font-size: 24px;
                                color: #ffffff;
                                white-space: nowrap;//取消文字自動換行
                                overflow: hidden;
                                text-overflow: ellipsis;//將多餘文字改為...
                            }
                            .time{
                                font-size: 16px;
                                color: #ffffff;
                                white-space: nowrap;//取消文字自動換行
                            }
                        }
                        //上半部區塊

                        //下半部區塊
                        .bottomBox{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .profile{
                                font-size: 10px;
                                color: #aaaaaa;
                                white-space: nowrap;//取消文字自動換行
                                overflow: hidden;
                                text-overflow: ellipsis;//將多餘文字改為...
                            }
                            .class{
                                transform: skew(-15deg);
                                font-size: clamp(16px, 1.5vw, 20px);
                                border-radius: 4px;
                                padding: 0px 1%;
                                font-weight: 700;
                                white-space: nowrap;//取消文字自動換行
                                &.system,&.activity,&.gamenews{
                                    color: #313131;
                                    background-color: rgb(124, 236, 252);
                                }
                            }
                        }
                        //下半部區塊
                    }
                    //內容設定
                }
                //新聞消息項目設定
            }
            //新聞項目列表外圍

            //頁碼區塊
            .paginationBox{
                margin-top: auto;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 576px) { 
                    margin-top: 0;
                }
            }
            //頁碼區塊

            //版權按鈕
            .copyrightBtnSet{
                position: absolute;
                top: auto;
                bottom: 3%;
                left: 12px;
                width: 100px;
                height: auto;
                aspect-ratio: 100 / 20;
                border: 1px solid #ffffff;
                padding: 0px 1%;
                background-color: transparent;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: transform 0.5s ease;

                &.active{

                    .btnIconSet{
                        transform: rotate(180deg);
                    }
                }

                .textSet{
                    font-size: 13px;
                    color: #ffffff;
                }
                .btnIconSet{
                    transform: rotate(0deg);
                }
            }
            //版權按鈕
        }
        // 主內容區塊
        
        //版權區塊
        .copyright{
            flex: 0 0 auto;
            width: 100%;
            height: auto;
        }
        //版權區塊
    }
    // 混合板
}
// 元件最外圍

// 提示畫面
.landscapeBlocker {
    display: none;
    width: 100%;
    height: 100vh;
    background: #202020;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    @media screen and (orientation: landscape) and (max-width: 900px) {
        display: flex;
    }
}
// 提示畫面


